html {
  font-family: 'Raleway', sans-serif;
}

#brand-logo {
  width: 40px;
  margin-left: 20px;
  vertical-align: middle;
}

.grayed {
  background-color: #EDEDEB;
}

.pure-button-orange{
    background: #F37465;
}

.button-warning {
            background: #E97521;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
            background: #23C4EE;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }


/* tags and colors */
.button-tag {
    font-size: 60%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.tag-blue {
  background: rgb(66, 184, 221);
}
.tag-red {
    background: #CC0E0E;
}
.tag-green {
    background: #15BB00;
}
.tag-yellow {
    background: #EBB000;
}

/*.fade-in {
  display: none;
}
.fade-left {
  display: none;
}
.fade-right {
  display: none;
}*/


.first, .second, .third {
  opacity: 0;
}

.sq {
padding: 10% 0;
}


.first.animated, .second.animated, .third.animated {
  /*padding-top: 40px;*/
  opacity: 1;
}

a.pure {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}



.right {
  text-align: right;
}
.left {
  text-align: left;
}


.space {
  margin: 50px 50px;
}




/**/



@media (max-width: 62em) {
  .smHidden {
    display: none;
  }
  .splash {
    margin-top: 15px;
  }
